@import "../../style.scss";


.app__header-container {

    @include themify($themes) {
    display: flex;
    padding: 100px 200px 0 200px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: themed("color");
    
    gap:50px;    
    @media screen and (max-width: 700px) {
        width: 100%;
        padding: 100px 20px 0 20px;
        
    }
}

}
        
    
span {
    color: var(--green-secondary);
}


.app__header-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}


.app__header-text {
    font-size: 2rem;
    font-weight: 300;
    display: flex;
    padding-bottom: 5px;
    @media screen and (max-width: 900px) {
        font-size: 1rem;
    }
}

.app__header-text-smaller {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    @media screen and (max-width: 900px) {
        font-size: 1rem;
        padding-bottom: 5px;
        
    }
}

.app__header-text-paragraph {
 font-size: 1rem;
 font-weight: 200;
 margin-bottom: 5px;

 @media screen and (max-width: 700px) {
    font-size: 0.85rem;
    line-height: 1.5;
    
}
}


.app__header-image {
    
    img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    }
    @media screen and (max-width: 900px) {
        align-self: center;
        
        
    }
}


