
.app__navbar {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 3;

    @media screen and (max-width: 900px) {
      max-width: 100%;
      
    }
}

.app__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
    height: 30px;
    }
}
.container {
    display: flex;
    gap:1rem;
}
.darkMode {
  @media screen and (max-width: 900px) {
      
  display: flex;
  justify-content: center;   
  align-items: center;
}
}


.darkModeOff{
    color: var(--green-primary);
}

.darkModeOn {
    color: black;
}

.app__navbar-links {
    display: flex;
    gap: 1rem;
    
    

    li {
        cursor: pointer;

    a {
        color: var(--green-primary);
        text-decoration: none;

        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--green-secondary);
        }
        @media screen and (max-width: 900px) {
            font-size: 0.65rem;
        }
    }
    }
}


