@import "../../App.scss";
.app__navbar {
    @include themify ($themes) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: solid rgba(247, 243, 243, 0.5);
    background-color: themed("bg");
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 3;
}
}

.app__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
    height: 30px;

    @media screen and (max-width: 768px) {
        height: 20px;
         
       }
    }
    
}
.container {
    display: flex;
    gap:1rem;
}
.darkMode {
  @media screen and (max-width: 900px) {
      
  display: flex;
  justify-content: center;   
  align-items: center;
}
}


.darkModeOff{
    color: var(--green-primary);
    cursor: pointer;
}

.darkModeOn {
    color: black;
    cursor: pointer;
}

.app__navbar-links {
    display: flex;
    gap: 1rem;
    
    @media screen and (max-width: 768px) {
       gap:0.5rem;
        
    }

    li {
        cursor: pointer;

    a {
        color: var(--green-primary);
        text-decoration: none;

        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--green-secondary);
        }
        @media screen and (max-width: 768px) {
            font-size: 0.55rem;
            
        }
    }
    }
}


