@import "../../App.scss";

.app__footer-wrapper{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.app__footer {
  display: flex;
  margin: 20px 0 10px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap:100px;
    text-align: center;
    
}
}



.app__form {
  width: 100%;
}



.app__map {
  width: 100%;
  @media screen and (max-width: 768px) {
    display: none;
}
}

      input,
      textarea {
        width: 100%;
        padding: 0.95rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 7px;
        background-color: var(--primary-color);
  
        font-family: var(--font-base);
        color: white;
        outline: none;
      }
      
      textarea {
        height: 150px;
        resize: none;
      }
  

      .app__social-mobile {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 5px;
        
        
        
        @media screen and (min-width: 768px) {
            display: none;
        }
    
        svg { @include themify($themes) {
            color: themed("color");
        }
            
    }
    
    }
     
   
  
    
    
  