@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap');


:root {

  
  --font-base: "Inconsolata", sans-serif; 

  --primary-color: #111;
  --secondary-color: #118a53;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --white-color: #ffffff;
  --green-primary: #0acc74;
  --green-secondary: #118a53;
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  cursor: url("assets/cursor.svg"), default;
  
}





a, button, svg, .logo, div.app__social > div  {
  cursor: url("assets/handcursor.svg"), pointer;
  border:none;
}


